body{
    background-color: rgb(91, 145, 245);
    color: white

}
a {
    color: white;
}

header img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(36, 55, 175);
    margin: 4px;

}

header h5{
    color: rgb(48, 150, 240);
}

header h2{
    color: aliceblue;
}
.Hobbies{
    flex: 1;
    min-width: 80px;
    /*position: absolute;
    top: 27rem;
    right: 0;
    margin: 1rem auto;*/
    border-radius: 15px;
    background-color: aliceblue;
    padding: 0.3rem;
    border: 2px solid rgb(44, 78, 187);
    text-align: center;
    box-shadow: 2px 2px 8px;

}
.Hobbies h5{
    color: rgb(57, 104, 231);
    text-align: center;
    word-wrap: break-word;
    padding: 0.2em;
    margin-bottom: 0.8rem;
    display: inline;
}

.Linha{
    background-color: aliceblue;
    padding: 10px 4px;
    border-radius: 15px;
    border: 2px solid rgb(12, 38, 209);

}

.Hobbies img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 0.3rem auto;
}

.center{
    text-align: center;
    background-color: rgba(20, 20, 20, 0.897);
    border-radius: 15px;
    color: rgb(57, 104, 231);
    padding: 1rem 2rem;
    border: 2px solid rgb(12, 38, 209);

}

#RedesS img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(12, 38, 209);
    margin: 4px;
}
#RedesS{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 1rem;
    padding: 0.5rem;
    
}

#RedesS a{
    margin: 20px;
    justify-content:center;
    text-align: center;

}

#RedesS p{
    font-family: serif;
    text-align: center;
}


.Hobbies h3{
    color: blue;
    text-align: center;
}

.tudo{
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

header h2, p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.skills {
    text-align: center;
    margin: 2rem;
}

.skills h2{
    color: rgb(38, 73, 228);
    background-color: rgb(8, 8, 8);
    margin-bottom: 1.5rem;
    border-radius: 15px;
    padding: 0.4rem;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    max-width: 800px;
    /*justify-content: center;
    flex-wrap: wrap;*/
    margin: 0 auto;
}


.skill{
    background: #e6f7ff;
    border-radius: 15px;
    padding: 0.8em;
    align-items: center;
    box-shadow: 0 4px 8px rgb(31, 30, 30);
    transition: transform 0.3s;
    color: rgb(247, 248, 250);
    background-color: rgb(52, 52, 245);

}

.skill:hover {
    transform: scale(1.05);
}

.Menu{
    background-color: rgb(65, 119, 219);
    display: flex;
    margin-bottom: 5px;
    color: rgb(8, 8, 8);
    border-radius: 13px;
    border: 2px solid rgb(12, 38, 209);
    padding: 0.1em;
    margin-top: 0.4rem;
}

.Menu h2{
    margin-top: 1px;
    color: #0b0c0e;
    padding: 0px 30px;
}

.Menu ul {
    list-style-type: none;
    margin-bottom: 0.3px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0.3px;
    gap: 0.4px;
    text-align: center;
}

.Menu li{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 40px;
}

.Menu a{
    text-decoration: none;
    color: #96dff1;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.Menu a:hover {
    color: #062b50;
}

#Habilidades{
    background-color: rgb(33, 33, 236);
    color: #f9f9fa;
    max-width: 780px;
    margin: 1rem auto;
    text-align: top center;
    padding: 0.5rem 1rem;
}

#sobre {
    color: rgb(83, 18, 204);
    background-color: aliceblue;
    border-radius: 30rem;
    border: 3px solid rgb(4, 62, 112);
    padding: 0.4rem 3rem;
    display: inline-block;
    margin-bottom: 1rem;

}

.container-mobile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto 2rem;
}

.Sobre:hover #sobre{
    background-color: rgb(154, 129, 238);
}

.Sobre {
    margin: 0 auto 2rem auto;
    text-align: left;
    line-height: 1.6;
    background-color: rgb(66, 126, 255);
    color: rgb(50, 15, 146);
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid rgb(44, 78, 187);
    flex: 6;
    min-width: 250px;
}

#RedesS img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(53, 104, 146);
    margin: 4px;
}

.projetos{
    border-left: 8px solid #2b0353;
    padding-left: 1rem;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.1);

}

.projetos h4{
    color: #283949;
    font-style: oblique;
}

.projetos h2{
    color: #060607d7;
    margin-bottom: 0.5rem;
}

.projetos h5{
    color: #19202e;
}
.projetos:hover h5{
    color:#03315c
}

.projetos:hover h4{
    color: rgb(81, 2, 170);
}

footer{
    background-color: #4b0bfa5d;
    color: #131212cb;
    text-align: center;
    padding: 0.7rem;
    margin-top: 0.3rem;
    font-family: cursive;
    margin-bottom: 1rem;
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0.1rem 0;
    text-align: center;
}

@media (max-width: 768px){
    .center {
        padding: 1rem;
    }
    .Menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 1rem;
        padding: 1;
    }

    .Menu li{
        width: auto;
        padding: 0 0.7px;
        text-align: center;
    }

    Menu li a{
        font-size: 0.3rem;
    }

    .skills-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .Hobbies{
        width: auto;
        position: static;
        /*top: 27rem;
        right: -4rem;*/
        margin: 0;
        width: 15%;
    }
    .RedesS{
        flex-direction: column;
    }
    .container-mobile{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
    }
    .Sobre{
        width: 85%;
    }
}

@media (max-width: 480px){
    .Menu {
        border: none !important;
        background: none !important;
        padding: 0 !important;
        border-radius: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .Menu li{
        width: auto;
        margin: 0;
        display: block;
        text-align: center;
        list-style:circle;
    }

    .Menu li a{
        display: inline-block;
        padding: 3px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    .Menu li a:hover{
        background: #25065f67;
        border-radius: 8px;
        padding: 6px 12px;
    }

    .Menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.4rem;
        padding: 0;
    }

    .Menu h2{
        border-bottom: 2px solid rgb(8, 8, 8);
        padding-bottom: 5px;
    }
}